@import url(http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext);

html {
    font-family: "Lato", "sans-serif";
    background-color: #f8de00;
    color:  #4f2500;
}

/* sticky footer */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body.post > div.grid {
    min-height: 100%;
    padding-top: 220px;
    margin-top: -188px;
}


header nav {
    margin-top: 55px;
    text-align: center;
    vertical-align: middle;
}

.depressed {
    background-color: #fff;
    border-top: 2px solid #7D7000;
    border-right: 2px solid  #ffef66;
    border-bottom: 2px solid #ffef66;
    border-left: 2px solid #7D7000;
    padding: 20px;
}

footer {
    background-color: #090f2b;
    color:  #bfab00;
    font-size: 11px;
    height: 188px;
}
#adres {
margin-top: 20px
}


section p:first-of-type {
margin-top: 0;
}
#content {
border-right: 1px solid #442200;
}

#content {
    padding-top: 0;
}

#news > h1 {
    height: 34px;
}

#news section {
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
}
/* section:first-of-type { border-top: 0; padding-top: 20px; } */
/* section:last-of-type { padding-bottom: 20px; } */

fieldset[role="search"] {
margin: 0px;
padding: 0px;
    border-top: 2px solid #7D7000;
    border-left: 2px solid #7D7000;
    border-bottom: 2px solid #ffef66;
    border-right: 2px solid  #ffef66;
}

fieldset[role="search"] input[type="text"] {
border: none;
display: inline;
padding: 0px;
height: 24px;
}

fieldset[role="search"] input[type="submit"] {
background-color: #46c900;
background-image: url(../obrazy/magnifier.png);
background-position: center;
background-repeat: no-repeat;
border-width: 0px;
display: inline;
height: 24px;
margin: 0;
padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.83em 0;
}

h4 {
    font-size: 1em;
    margin: 0;
    padding: 1.33em 0;
}


address {
    font-style: normal;
}

aside > #menu {
    color: #fff;
    background-color: #46c900;
    padding:  10px;
    margin: 23px 0 85px;
}

aside > #menu h4 {
margin:0;
padding-top: 0;
}

/* aside > #menu *|*:link { */
/*     text-decoration: none; */
/*     color: #2844c8; */
/*     font-wight */
/* } */

/* aside > #menu *|*:visited { */
/*     text-decoration: none; */
/*     color: #551A8B; */
/* } */


aside li a:hover {
    color: #fff;
}

aside li a {
    position: relative;
}


aside li.current a:before {
    content: "";
    border-color: rgba(248,222,0,0) rgba(248,222,0,0) rgba(0,0,0,0)  #f8de00;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: -2px;
    left: -12px;
}

/* http://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */
img.pixelart {
    image-rendering: optimizeSpeed;             /* FUCK SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

aside ul {
list-style: none;
padding: 0;
margin: 0;
}

aside li {
margin-top: 0.2em;
}


#foobar {
margin-top: 16px;
}

nav li {
display: inline-block;
background-color: #f8de00;
color: #222;
padding: 10px;
/* width: 120px; */
/* height: 120px; */
margin-bottom: 4px;
vertical-align: middle;
font-size: 8pt;
}

nav li img {
    width: 128px;
    height: 128px;
}

nav li:nth-child(4n+1):hover { background-color: #d83900; color: #fff; }
nav li:nth-child(4n+2):hover { background-color: #7b512c; color: #fff; }
nav li:nth-child(4n+3):hover { background-color: #46c900; color: #4f2500; }
nav li:nth-child(4n+4):hover { background-color: #2844c8; color: #f8de00; }

nav ul {
    margin: 0;
    padding: 0;
}

*|*:link {
    text-decoration: none;
    color: #246600;
}

*|*:visited {
    text-decoration: none;
    color: #551A8B ;
}


.read-more {
text-align: right;
}

#main-logo {
    padding-top: 32px;
}

#post-logo, #main-logo {
    font-size: 0;
    max-width: none;
    height: 150px;
    width: 150px;
}


body.post article header h1 {
padding-top: 0;
}


.show-on-mobiles { display: none; }
@media screen and (max-width: 568px) { /* Stack anything that isn’t full-width on smaller screens */
  .show-on-mobiles { display: block !important; }
}

#wiersz-komputer {
position: relative;
}

#wiersz-komputer img {
position: absolute;
top: 120px
}

#wiersz-komputer pre {
position: absolute;
top: 0px;
font-family: sans;
}


/*
Barwy jesieni
http://colrd.com/create/image-dna/
niebieski #2844c8
zielony #46c900
żółty #f8de00
czerwony #d83900
brązowy #4f2500
*/

/* * {border: solid 1px #ddd;} */
.navicon {
	height: 6px;
	width: 34px;
	margin: 20px;
	border-top: 18px double #000;
	border-bottom: 6px solid #000;
	font-size:0;
}


@media screen and (max-width: 865px) {
.hide-kids { display: none !important; }
}
