/* @import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:600,700&subset=latin,latin-ext); */

html {
    background-color: #f8de00;
    color:  #4f2500;
}

footer {
    background-color: #4f2500;
    color:  #bfab00;
    font-size: 0.8em;
}

#content {
border-right: 1px solid #442200;
}

#news section {
    color:  #4f2500;
    background-color: #fff;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    border-top: 2px solid #7d7000;
    border-left: 2px solid #7d7000;
    border-bottom: 2px solid #ffef66;
    border-right: 2px solid  #ffef66;
}
/* section:first-of-type { border-top: 0; padding-top: 20px; } */
/* section:last-of-type { padding-bottom: 20px; } */

fieldset[role="search"] {
margin: 0px;
padding: 0px;
}

fieldset[role="search"] input[type="text"] {
border: none;
display: inline;
padding: 0px;
height: 24px;
}

fieldset[role="search"] input[type="submit"] {
background-color: #46c900;
background-image: url(../obrazy/magnifier.png);
background-position: center;
background-repeat: no-repeat;
border-width: 0px;
display: inline;
height: 24px;
margin: 0;
padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.83em 0;
}

h4 {
    font-size: 1em;
    margin: 0;
    padding: 1.33em 0;
}


h1, h2, h3, h4 {
    font-family: 'Source Serif Pro';
    font-weight: 700;
}

aside > #menu {
background-color: #fff;
padding:  10px;
margin: 20px 0;
    border-top: 2px solid #7D7000;
    border-left: 2px solid #7D7000;
    border-bottom: 2px solid #ffef66;
    border-right: 2px solid  #ffef66;
}

aside > #menu h4 {
margin:0;
padding-top: 0;
}

aside li a {
    position: relative;
}


aside li.current a:before {
    content: "";
    border-color: rgba(248,222,0,0) rgba(248,222,0,0) rgba(0,0,0,0)  #f8de00;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: -2px;
    left: -12px;
}

aside ul {
list-style: none;
padding: 0;
margin: 0;
}

header h1 span {
display: none;
}

header nav {
    margin-top: 77px;
    text-align: center;
    vertical-align: middle;
}

nav li {
display: inline-block;
background-color: #fff;
color: #222;
padding: 10px;
width: 120px;
margin-bottom: 4px;
}

nav li:nth-child(4n+1):hover { background-color: #d83900; color: #fff; }
nav li:nth-child(4n+2):hover { background-color: #4f2500; color: #fff; }
nav li:nth-child(4n+3):hover { background-color: #2844c8; color: #f8de00; }
nav li:nth-child(4n+4):hover { background-color: #46c900; color: #4f2500; }

nav ul {
margin: 0;
padding: 0;
}
span#title {
    font-size: 100px;
/*
Kaushan Script
Joti One
http://www.dafont.com/deborstel-brush.font?text=Przedszkole+nr+241+Trojdenek&fpp=100&back=theme
http://www.dafont.com/font-comment.php?file=bolide&text=Przedszkole+nr+241+Trojdenek&fpp=100&back=theme


 Fredericka the Great
Cabin Sketch
Monoton
 */
}

*|*:link {
    text-decoration: none;
    color: #2844c8;
}

*|*:visited {
    text-decoration: none;
    color: #246600;
}


.read-more {
text-align: right;
}

#big-logo {
 max-width: none;
   height: 150px;
    width: 150px;
}


.show-on-mobiles { display: none; }
@media screen and (max-width: 568px) { /* Stack anything that isn’t full-width on smaller screens */
  .show-on-mobiles { display: block !important; }
}

#wiersz-komputer {
position: relative;
}

#wiersz-komputer img {
position: absolute;
top: 120px
}

#wiersz-komputer pre {
position: absolute;
top: 0px;
font-family: sans;
}


/*
Barwy jesieni
http://colrd.com/create/image-dna/
niebieski #2844c8
zielony #46c900
żółty #f8de00
czerwony #d83900
brązowy #4f2500
*/

/* * {border: solid 1px #ddd;} */
.navicon {
	height: 6px;
	width: 34px;
	margin: 20px;
	border-top: 18px double #000;
	border-bottom: 6px solid #000;
	font-size:0;
}